.container
  .add-post
    -if flash
      %div{class: flash.keys.first}
        =flash[flash.keys.first]
    =form_for :post do |f|
      =f.text_area :message, cols: 30, rows: 5, placeholder: '150 characters max'
      .div=f.button 'Post', class: 'btn btn-success'
  .timeline
    -if @posts.any?
      - @posts.each do |post|
        .post
          =simple_format(post.message)  
          .time=format_time(post.created_at)      
          =link_to post_path(post), class: 'delete', method: :delete do 
            delete
    -else
      %p No messages have been posted
          